{
  "printWidth": 150,
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.tex",
      "options": {
        "printWidth": 150,
        "proseWrap": "always"
      }
    }
  ]
}
